{% extends 'base.html.twig' %}

{% block title %}Interface admin{% endblock %}

{% block body %}

    <a href="{{ path('app_pokemon_api_get_data') }}">Récupérer les données de l'API pokemon</a>

{% endblock %}
